<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
    <style>
            body {
                    background-color:plum;
            } 
    </style>
</head>
<body>
    <div class="col-md-4">
    </div>
    <div class="container col-md-4"> 
    <form action="/logout">
        {% csrf_token %}
        <div class="form-group">
        <h3>Success! Welcome {{user.fname}}{{user.lname}}</h3>
        <p>Successfully registered(or logged in)!</p>
        <button>Logout</button>
        </div>
    </form>       
    </div>   
</body>
</html>